{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet", href="{% static "firstApp/firstApp.css" %}">
{% endblock  %}

{% block pageTitle %}
   Condiionals
{% endblock pageTitle %}

{% block content %}
    {% include "firstApp/includes/navbar.html" %}
    <h1>Testing Loop</h1>
    <ul>
        {% for lst in list_django %}
            {% if lst|divisibleby:2 %}
                <li>{{ lst }} this is even guru</li>
            {% else %}
                <li>{{ lst }} this is odd guru</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock  %}
